%section
  %h2
    Buttons
    %small for you to click on
  %p
    Oh yes, Schnitzelstyle has buttons. Just use the <code>.button</code> class
    in combination with your favorite color:
  %p
    %a.button{href: '/', data: { alert: 'sup!' }} .button
    %a.red.button{href: '/'} .red.button
    %a.green.button{href: '/'} .green.button
    %a.blue.button{href: '/'} .blue.button
