%section
  %h2 Usage
  %p Add the Schnitzelstyle gem to your <code>Gemfile</code>:
  %pre.prettyprint.large-type
    %code
      gem 'schnitzelstyle'
  %p Import Schnitzelstyle into your application's main SASS/SCSS file:
  %pre.prettyprint.large-type
    %code
      :preserve
        @import 'schnitzelstyle/complete';
