%header
  %h2 Schnitzelstyle.
  %p A Sweet and Sassy CSS Toolkit with a Schnitzel Flavor.
  %p
    %a.orange.button{href: '/'} Learn more.

%section
  %h1
    Big Title

  %h2
    Medium Title
    %small with some extra text

  %h3 Minor Title
  %p Sausage meatball tenderloin corned beef swine ham, venison chuck pancetta ground round shank boudin hamburger andouille. Capicola jowl t-bone beef fatback meatloaf shoulder. Short ribs jerky biltong, corned beef andouille t-bone pork loin. Pork loin cow tongue ground round tenderloin ham, leberkas corned beef frankfurter venison short loin biltong andouille flank. T-bone biltong jowl corned beef, tenderloin chuck bresaola pig boudin short ribs speck shankle chicken. Short ribs pork loin ball tip, ham hock spare ribs pork meatloaf chicken shank ham short loin sausage. Strip steak turducken filet mignon, frankfurter pancetta speck tongue shankle ham hock boudin biltong short loin.
  %p Tail pork chop pig, short ribs turkey tenderloin chuck speck pastrami swine bresaola short loin shank cow. Ribeye sirloin spare ribs, ball tip chuck cow hamburger filet mignon. Meatloaf pork chop rump ham, tail cow sausage shankle bacon meatball fatback ham hock. Shank filet mignon bresaola chuck short loin, turducken pork chop ground round ham hock kielbasa. Ground round bacon t-bone shoulder, leberkas tail meatloaf kielbasa spare ribs flank sirloin. Venison boudin rump bresaola, pork belly turkey jerky ham hock shankle sausage ball tip bacon.

  %h3 Another Minor Title
  %p Tongue t-bone tri-tip beef ribs turkey beef. Capicola venison pastrami pig short ribs filet mignon. Beef meatloaf ham hock cow bacon bresaola, drumstick jowl. Pork sirloin shankle ham hock, ribeye boudin jerky short loin fatback t-bone. Venison corned beef short ribs ball tip, ribeye filet mignon pork belly. Jowl ribeye pork chop, flank pancetta meatball biltong jerky. Beef ribs sirloin chicken strip steak.


%hr
%section
  %h2 Grid

  %p Well, you know the drill.

  .grid-demo
    .row
      - 12.times do
        .one.column
          %p 1
    .row
      - 6.times do
        .two.columns
          %p 2
    .row
      - 4.times do
        .three.columns
          %p 3
    .row
      - 3.times do
        .four.columns
          %p 4
    .row
      - 2.times do
        .six.columns
          %p 6
    .row
      .twelve.columns
        %p 12
    .row
      .six.columns
        %p 6
      .three.columns
        %p 3
      .one.column
        %p 1
      .one.column
        %p 1
      .one.column
        %p 1

%hr
%section
  %h2
    Buttons
    %small for you to click on
  %p
    Oh yes, Schnitzelstyle has buttons. Just use the <code>.button</code> class
    in combination with your favorite color:
  %p
    %a.button{href: '/', data: { alert: 'sup!' }} .button
    %a.red.button{href: '/'} .red.button
    %a.green.button{href: '/'} .green.button
    %a.blue.button{href: '/'} .blue.button


%hr
%section
  %h2 Syntax Highlighting
  %p
    Need to display some source code? Schnitzelstyle comes with built-in support
    for <a href="http://code.google.com/p/google-code-prettify/">google-code-prettify</a>.
  %pre.prettyprint
    %code.language-ruby
      :preserve
        def render
          @@markdown ||= Redcarpet::Markdown.new(MarkdownRenderer,
            :autolink => true, :space_after_headers => true, :fenced_code_blocks => true)

          @@markdown.render(body.to_s)
        end
