!!! 5
%html
  %head
    %title SchnitzelStyle
    %link{href: 'schnitzelstyle-static.css', media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: 'site.css', media: "screen", rel: "stylesheet", type: "text/css"}
  %body
    .container
      %header.row
        %h1 SchnitzelStyle

      = yield

      %footer.row
        a Team Schnitzel 2012 gig
