%article
  %header
    %h2 CSS goodness with a taste of Schnitzel!

    %p Strip steak leberkase pig, swine brisket chicken prosciutto ham hock pork loin ground round andouille rump pastrami pork ball tip. Flank sausage tri-tip, ribeye short loin biltong venison kielbasa. Turducken jowl jerky corned beef tail fatback. Ham sirloin beef ribs, tenderloin short loin meatloaf cow. Pork loin brisket pastrami swine pig shoulder cow sirloin filet mignon tenderloin chuck. Fatback short ribs brisket beef ribs. Sausage turkey brisket, jerky strip steak pork belly chicken ground round swine ham hock boudin flank shoulder filet mignon.

    %p Ham hock pork chop beef ribs, capicola ham chicken boudin filet mignon rump flank pork belly brisket tri-tip shoulder. T-bone short loin swine pancetta andouille brisket turkey. Ribeye capicola andouille kielbasa, beef sausage ground round sirloin. Sausage bacon capicola, ham short loin swine filet mignon.

    %p Pork loin pancetta capicola, prosciutto biltong ham boudin swine filet mignon salami. Drumstick shank t-bone hamburger bacon frankfurter. Tongue kielbasa jowl turkey. Corned beef turkey shank shoulder venison, bresaola chuck ham hock kielbasa. Andouille pork belly tenderloin, beef ribs shoulder drumstick frankfurter meatball chuck. Meatball prosciutto shoulder, turducken pancetta brisket frankfurter ground round rump. Swine short ribs prosciutto, jowl pork chop strip steak pastrami rump bacon capicola pork belly.
